<?xml version="1.0" encoding="utf-8"?>
<settings>
  <property name="data-source" value="IDN" />
  <property name="log-level" value="Trace" />
  <property name="mid-if-both" value="False" />
  <property name="show-bid-ask" value="True" />
  <property name="show-main-toolbar" value="True" />
  <property name="show-point-size" value="True" />
  <property name="show-chart-toolbar" value="True" />
  <property name="visible-columns" value="ALL" />
  <property name="fields-priority" value="LAST,VWAP,HIST,MID" />
  <property name="forbidden-fields" value="BID,ASK" />
  <property name="yield-calc-mode" value="YTA" />
  <property name="load-rics" value="False" />
  <property name="clear-points" value="False" />
  <property name="clear-bond-curves" value="False" />
  <property name="clear-other-curves" value="False" />
  <property name="rating-sort-date" value="True" />
  <property name="num-interp-points" value="50" />
  <viewport>
    <yield min="0.00" max="0.00" />
    <spread min="0.00" max="0.00" />
    <duration min="0.00" max="0.00" />
    <x-axis>
      <property name="min-strict" value="False" />
      <property name="max-strict" value="False" />
    </x-axis>
    <y-axis>
      <property name="min-strict" value="False" />
      <property name="max-strict" value="False" />
    </y-axis>
  </viewport>
</settings>